body.fondo-julian {
    background-image: url('1080p-gba-overlays-pokemon-ruby-sapphire-emerald-v0-g1amyqm8x2be1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.contenedor-julian {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

input,
button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button {
    background-color: #ffcc00;
    cursor: pointer;
}

button:hover {
    background-color: #ffe066;
}

.volver {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffcc00;
}

.volver:hover {
    color: #fff700;
}


#historial-busquedas {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#lista-historial {
    list-style: inside;
    text-align: left;
    padding-left: 20px;
    max-height: 200px;
    overflow-y: auto;
}
